.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.game-board-container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-areas:
        "tile0 tile1 tile2"
        "tile3 tile4 tile5"
        "tile6 tile7 tile8";
        background-color: black;
    gap: 10px;
}

.board-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 150px;
    width: 150px;
}

[data-board-position="0"] {
    grid-area: tile0;
}

[data-board-position="1"] {
    grid-area: tile1;
}

[data-board-position="2"] {
    grid-area: tile2;
}

[data-board-position="3"] {
    grid-area: tile3;
}

[data-board-position="4"] {
    grid-area: tile4;
}

[data-board-position="5"] {
    grid-area: tile5;
}

[data-board-position="6"] {
    grid-area: tile6;
}

[data-board-position="7"] {
    grid-area: tile7;
}

[data-board-position="8"] {
    grid-area: tile8;
}

input,
button {
    appearance: none;
}

input[type="radio"]:hover,
input[type="button"]:hover {
    cursor: pointer;
}

input[type="button"]:active {
    background-color: rgb(195, 195, 195);
    box-shadow: inset 0 2px 5px 1px darkgray;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    border: solid 2px black;
    box-shadow: 1px 2px 10px darkgray;
    padding: 16px;
}

.form-container p {
    font-size: x-large;
    font-weight: 600;
    text-align: center;
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    /* border: solid 2px black;
    box-shadow: 1px 2px 10px 0px darkgrey;
    padding: 16px; */
}

.sign-button-choice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 16px 0;
}

.sign-button {
    height: 50px;
    width: 50px;
    border: solid 2px darkgray;
    border-radius: 8px;
    background-color: lightgray;
}

.sign-button:hover {
    filter: contrast(75%);
}

.sign-button:active,
.sign-button:checked {
    box-shadow: inset 0 3px 8px black;
}

.sign-x-button {
    background-image: url(assets/X-sign.png);
    background-size: 100%;
}

.sign-o-button {
    background-image: url(assets/O-sign.png);
    background-size: 100%;
}

.start-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px black;
    box-shadow: 1px 2px 10px darkgray;
    padding: 16px;
}

.start-screen-container h1 {
    margin-top: 0;
}

.start-screen-container span {
    font-style: italic;
}

.start-screen-button-container {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.invalid-move-error-message {
    border: solid 3px red;
    background-color: rgb(255, 151, 151);
    color: white;
    font-size: x-large;
    font-weight: 600;
    text-shadow: 0 1px black,
                0 -1px black,
                1px 0 black,
                -1px 0 black;
    padding: 16px;
}

.end-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px black;
    box-shadow: 1px 2px 10px darkgray;
    padding: 16px;
}

.results-message {
    font-size: x-large;
    font-weight: 600;
    margin-top: 0;
}

.end-screen-button-container {
    display: flex;
    gap: 16px;
}